
* {
  margin: 0;
  padding: 0;
  text-align: center;
 
}

:root {
  --bannerBg: #fcdb00;
  --footer: #010101;
  --white: #fff;
  --btnBg: #fcdb00;
  --icon-color: #010101;
  --h-paragraph: #555555;
  --subs-sub-heading-clr: #898989;
  --paragraph-clr: #898989;
}

section {
  padding: 30px 0px;
  margin: 30px 0px;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  margin: auto;
}

a {
  text-decoration: none;
  color: var(--navbarColor);
}

a:hover {
  color: var(--btnBg);
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 100px;
  font-weight: 400;
  line-height: normal;
}

h2 {
  font-size: 32px;
  font-weight: 600;
}

h3 {
  font-size: 22px;
  font-weight: 400;
}

h4 {
  font-size: 20px;
  font-weight: 400;
  color: #313841;
}

h5 {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: var(--headingClr);
}

h6 {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

p {
  font-weight: 400;
  font-size: 16px;
  color: var(--paragraph-clr);
}

.sub-title {
  color: var(--subtitleClr);
}

button.btn {
  padding: 8px 28px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: normal;
  background: var(--btnBg);
  transition: 0.3s ease-in-out;
  color: #000;
  text-transform: uppercase;
}

button.btn:hover {
  /* background: #fff; */
  background: transparent;
  color: var(--icon-color);
  /* color: var(--footer); */
  border: 1px solid var(--btnBg);
  transition: 0.3s ease-in-out;
}

.border_bottom {
  text-align: center;
  display: inline-block;
  border-bottom: 2px solid var(--black);
  color: var(--black);
  margin-bottom: 2.5rem;
  padding: 10px 0px;
}

/* ================ Off Canvas // Side Menu  ================ */
.box {
  width: 100px;
  height: 100px;
  box-shadow: 0px 0px 7px 5px #ccc;
  margin: auto;
}
.ui-progressbar {
  position: relative;
}
.progress-label {
  position: absolute;
  left: 50%;
  top: 4px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;
}

